.governo h1{margin-top:0!important}a{color:#08c}.debug{border:1px solid #f00}.no-margin{margin:0!important}.error{background-color:#ffffe3;border:1px solid #996;clear:both;margin:1em 0;padding:10px}.minor-font{font-size:.75em}
#barra-brasil li{line-height:inherit}
header.governo{ padding: 20px 0 20px 0 !important;  background-color:#195128;background-image:-moz-radial-gradient(center,ellipse cover,#17882c 1%,#00510f 100%);background-image:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(1%,#17882c),color-stop(100%,#00510f));background-image:-webkit-radial-gradient(center,ellipse cover,#17882c 1%,#00510f 100%);background-image:-o-radial-gradient(center,ellipse cover,#17882c 1%,#00510f 100%);background-image:-ms-radial-gradient(center,ellipse cover,#17882c 1%,#00510f 100%);background-image:radial-gradient(ellipse at center,#17882c 1%,#00510f 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#157b28,endColorstr=#00510f,GradientType=1);color:#fff;}
header.governo .accessibility-language-actions-container{height:25px;overflow:hidden}header #accessibility{font-family:Arial,Helvetica,sans-serif!important;margin:0;line-height:5px;padding-top:2px}header #accessibility li{line-height:5px;margin:0 10px 0 0}header #accessibility a{color:#dcffe3;font-size:.7em}header #accessibility a span{background-color:#cad2cc;color:#195128;padding:0 2px 0 3px}header #accessibility a:hover{background:#788b7d}header #portal-siteactions,header #language{border-bottom:1px dotted #abbeb0;text-transform:uppercase;margin:-6px 0 0 0}
header.governo #portal-siteactions li,header #language li{margin:0 16px 0 0}header #portal-siteactions li:last-child,header #language li:last-child{margin-right:0!important}header #portal-siteactions a,header #language a{color:#dcffe3;font-size:.73em}header #portal-siteactions a:hover,header #language a:hover{text-decoration:underline}header #language{margin-left:20px}header #language li{margin-left:6px;display:block;float:left}header #language li:first-child{margin-left:0}header #language li a{padding:0 0 0 16px}header #language li.language-en a{background:transparent url('../img/flag-en.gif') no-repeat 0 center}header #language li.language-es a{background:transparent url('../img/flag-es.gif') no-repeat 0 center}header #logo{margin:3px 0 20px 0}header #logo img{float:left;margin:0 15px 0 0}
header.governo #logo a{color:#fff}header #logo .portal-title-1{font-size:.85em;display:block;height:21px}header #logo h1{font-family:"open_sansextrabold",'Open Sans',Arial,Helvetica,sans-serif;font-size:2.75em;line-height:.8em;font-weight:800;letter-spacing:-1px;margin-bottom:5px}
header.governo #logo .portal-description{font-size:1.1em;text-transform:uppercase;position:relative;top:4px}
header.governo #logo.small{margin:13px 0 0 0}header #logo.small h1{font-size:2.4em;font-family:"open_sansbold",'Open Sans',Arial,Helvetica,sans-serif} #logo.small a{text-decoration: none}
header.governo #logo.big{margin:10px 0 13px 0}header #logo.big h1{font-size:3.6em;font-family:"open_sansbold",'Open Sans',Arial,Helvetica,sans-serif}
header.governo #portal-searchbox form{margin:22px 0 0 0}header #portal-searchbox input.searchField{font-size:12px;width:175px;border-right:none!important}
header.governo #portal-searchbox input.searchField:focus{background-color:#ffffe5}header #portal-searchbox .searchButton{padding-bottom:4px;padding-right:8px;background:#fff;border-left:none!important;position:relative;width:34px;height:30px}
header.governo #portal-searchbox .searchButton i.icon-search{font-size:1.44em;color:#195128;-webkit-text-stroke-width:.4px;-webkit-text-stroke-color:#195128;-webkit-font-smoothing:antialiased;position:absolute;left:6px;top:3px}
header.governo #social-icons{margin:2px 0 2px 0;opacity:.85;-moz-opacity:.85;filter:alpha(opacity=85)}header #social-icons li{margin:0 0 0 6px}header #social-icons a{color:#fff}header #social-icons a i{font-size:1.70em;margin-top:5px;-webkit-text-stroke-width:.4px;-webkit-text-stroke-color:#fff;-webkit-font-smoothing:antialiased}
header.governo #social-icons a i.icon-youtube{-webkit-text-stroke-width:0!important;-webkit-text-stroke-color:#8ddca2!important;-webkit-font-smoothing:antialiased!important}header #social-icons a:hover{color:#8ddca2;-webkit-text-stroke-width:.4px;-webkit-text-stroke-color:#8ddca2;-webkit-font-smoothing:antialiased}header #social-icons span{display:none!important}header div.sobre{background-color:#00420c;border-bottom:2px solid #00420c}
header.governo div.sobre ul{margin:8px 0;line-height:1em}header div.sobre li{border-right:1px solid #2f5439;padding:0 10px;line-height:1em}header div.sobre li:last-child{border:0;padding-right:0}header div.sobre a{color:#fff;font-size:.88em}header div.sobre a:hover{text-decoration:underline}

.bg-verde-menu{
    background-color:#00420c !important; 
}

.sem-decoration {
  text-decoration: none !important;
  color: #FFF; 
  font-size: 9pt;
}

.bg-footer{
    background: #00420c;
    text-align: center;
    color:#FFF;
    padding: 25px 10px 25px 10px;
    font-size: 10pt;
}

.bg-footer a{
    text-decoration: none;
    font-size: 14pt;
    color:#FFF;
    font-weight: bold;
}

.separador{
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #bbb;
    margin: 20px 0 0 0 ;
    padding: 0; 
}
